################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/millionaire accessibility.slnx/FileContentIndex/05b57dd7-7faf-4aa3-b1a0-56d77613398b.vsidx
/.vs/millionaire accessibility.slnx/FileContentIndex/de39b8bd-ea73-436c-aabd-6007ed4e8d30.vsidx
/.vs/millionaire accessibility.slnx/v18/DocumentLayout.backup.json
/.vs/millionaire accessibility.slnx/FileContentIndex/a69e3b8e-cc2c-430a-bc2b-d0a40997b3c0.vsidx
/.vs/millionaire accessibility.slnx/v18/.suo
/.vs/millionaire accessibility.slnx/v18/DocumentLayout.json
/.vs/millionaire accessibility.slnx/FileContentIndex
/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/millionaire accessibility.csproj.AssemblyReference.cache
